<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About</h2>
            <p style="padding-top: 15px;">" Proficient in crafting responsive, maintainable, and scalable web applications using Angular framework. "</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a routerLink="/home"><i class='bx bx-right-arrow-alt'></i>Home</a></li>
              <li><a routerLink="/about"><i class='bx bx-right-arrow-alt'></i>About</a></li>
              <li><a routerLink="contact"><i class='bx bx-right-arrow-alt'></i>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Services</h2>
            <ul class="list-unstyled">
              <li><a href="#"><i class='bx bx-right-arrow-alt'></i>Web Design</a></li>
              <li><a href="#"><i class='bx bx-right-arrow-alt'></i>Web Development</a></li>
              <li><a href="#"><i class='bx bx-right-arrow-alt'></i>Business Strategy</a></li>
              <li><a href="#"><i class='bx bx-right-arrow-alt'></i>Data Analysis</a></li>
              <li><a href="#"><i class='bx bx-right-arrow-alt'></i>Graphic Design</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Question?</h2>
              <div class="block-23 mb-3">
                <ul class="list-unstyled">
                  <li><i class='bx bx-location-plus bx-tada bx-rotate-90' ></i><span class="text">Hisar , Haryana , India -125001</span></li>
                  <li><i class='bx bxs-phone bx-tada bx-rotate-90' ></i><span class="text">+91 98176-34413</span></li>
                  <li><i class='bx bx-envelope bx-tada bx-rotate-90' ></i><span class="text">sainipiyush801@gmail.com</span></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This portfolio is made with <i class='bx bxs-heart' style='color:#ff0000' ></i> by <a href="https://www.linkedin.com/in/peeyus-saini-23263b24a/" target="_blank">PEEYUS</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>