  <app-header></app-header>

    <div class="abt" id="abt">
        <h2 class="heading">About <span>Me</span></h2>
        <div class="about-img">
            <img src="/assets/images/pic2.jpg" alt="image">
            <span class="circle-spin"></span>
        </div>
    </div>

    <section class="about section">
        <div class="container">
            
            <div class="row1">
                <div class="about-content padd-15">
                    <div class="row">
                        <div class="about-text padd-15">
                            <h3>I'm Peeyus Saini and I am a<span>Web Developer</span></h3>
                            <h4 class="sub-tittle">My <span>informations :</span></h4>
                        </div>
                    </div>
                    <div class="container table-container">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Birthday :</strong></td>
                                            <td>12 Nov 2001</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Nationality :</strong></td>
                                            <td>Indian</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email :</strong></td>
                                            <td>sainipiyush801@gmail.com</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Degree :</strong></td>
                                            <td>BSc Non-Med</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Phone :</strong></td>
                                            <td>+91 9817634413</td>
                                        </tr>
                                        <tr>
                                            <td><strong>City: </strong></td>
                                            <td>Hisar</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h4 class="mySkills">My <span>Skills :</span></h4>

                        <ul class="list">
                            <li>Angular </li>
                                <li>JavaScript/TypeScript   </li>
                                <li>HTML5, CSS3, SCSS</li>
                                <li>RESTful APIs</li>
                                <li>Git version control</li>
                                <li>Responsive web design</li>
                                <li>Problem-solving and  debugging </li>
                                <li>Agile methodologies</li>
                        </ul>
                    </div>
                        <div class="skills padd-15">
                            <div class="row1">
                                <div class="skill-item padd-15">
                                    <h5>HTML</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 90%; background-color: red;"></div>
                                        <div class="skill-percent">90%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>CSS</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 80%; background-color:rgb(255, 60, 0) ;"></div>
                                        <div class="skill-percent">80%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>Angular</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 80%; background-color: rgb(255, 102, 0);"></div>
                                        <div class="skill-percent">80%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>SQL</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 65%; background-color: rgb(255, 166, 0);"></div>
                                        <div class="skill-percent">65%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>C#</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 62%; background-color: rgb(255, 255, 0);"></div>
                                        <div class="skill-percent">62%</div>
                                    </div>
                                </div>
                                <div class="skill-item padd-15">
                                    <h5>JS</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 60%; background-color: rgb(51, 255, 0)"></div>
                                        <div class="skill-percent">60%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <section id="skill">
                <div class="container">
                    <h1 class="sub-tittle">My <span>Projects</span></h1>
                  <div class="services-list">
                    <div class="col-md-12">
                      <h1 style="color: rgb(39, 152, 197);">Hapini.in</h1>
                      <h2>A online service platform</h2>
                      <p>Let's build something with great design. Give me projects, and I'll show you an interesting website with a creative mind.</p>
                    </div>
                    <div class="col-md-12">
                        <h1 style="color: rgb(39, 152, 197);">Learning Management System</h1>
                      <h2>School Project</h2>
                      <p>LMS is a project to handle Admin , User (Student) and Employee (teacher) pannel in a single project . It contains the data of school from taking admission to taking tests .Holds the data of students and teacher and manage them. I work on its UI and functioning or implement API’s .</p>
                    </div>
                   </div>
                </div>
              </section>

            <app-footer></app-footer>
    </section>